{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_cursoscomplementarios{% endblock %}
{% block formdestination %}/adm_cursoscomplementarios?action=registradosmaterias&id={{ materia.matricula.id }}{% endblock %}
{% block formactionvalue %}actualizarrecord{% endblock %}
{% block formobjectid %}{{ materia.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea actualizar el record:{% endblock %}
{% block formobjectrepr %}{{ materia.matricula }}{% endblock %}