{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/inscripciones?id={{ inscripcion.id }}{% endblock %}
{% block formaction %}/adm_cursoscomplementarios{% endblock %}
{% block formactionvalue %}addcurso{% endblock %}
{% block formobjectid %}{{ inscripcion.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea registralo en el curso:{% endblock %}
{% block formobjectrepr %}{{ curso }}{% endblock %}
{% block fieldsextra %}
    <input type="hidden" name="idc" value="{{ curso.id }}">
{% endblock %}
