{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_fechainicio, #id_fechafin").datepicker({format:"dd-mm-yyyy"});
            $("#id_nombre,#id_curso, #id_fechainicio, #id_fechafin, #id_cupo, #id_paralelo, #id_sesion, #id_mallacurso, #id_periodo").addClass("validate[required]");

            $("#id_cupo").blur(function(){
                numerico($(this), 1, 0, 0);
            });

            verifica_valor_total = function () {
                var c = 1;
                var cuotas = parseFloat($("#id_cuotas").val());
                if (cuotas){
                    c = cuotas;
                }
                var matricula = parseFloat($("#id_costomatricula").val());
                var costocuota = parseFloat($("#id_costocuota").val());
                $("#id_costototal").val((redondear(matricula + (costocuota), 2).toFixed(2)));
            };

            verificar_diferenciado = function () {
                if ($("#id_costodiferenciado").is(":checked")){
                    $('#id_cuotas, #id_costomatricula, #id_costocuota').attr({'disabled': 'disabled'}).removeClass("validate[required]");
                } else {
                    $('#id_cuotas, #id_costomatricula, #id_costocuota').removeAttr('disabled').addClass('validate[required]');
                }
            };

            $("#id_costodiferenciado").click(function () {
                verificar_diferenciado();
            });

            $('#id_cuotas').blur(function(){
                numerico($(this), 0, 0, 0);
                verifica_valor_total();
            });

            $("#id_costomatricula").blur(function(){
                numerico($(this), 0, 0, 2);
                verifica_valor_total();
            });

            $("#id_costocuota").blur(function(){
                numerico($(this), 0, 0, 2);
                verifica_valor_total();
            });

            verifica_cupo = function () {
                if ($("#id_sincupo").is(":checked")){
                    $('#id_cupo').attr({'disabled': 'disabled'}).removeClass("validate[required]");
                }
                else{
                    $('#id_cupo ').removeAttr('disabled').addClass('validate[required]');
                }
            };

            verifica_selector_optativa = function () {
                if ($("#id_optativa ").is(":checked")){
                    $('#id_libreconfiguracion').removeClass("validate[required]").prop('checked', false);
                }
                if ($("#id_libreconfiguracion ").is(":checked")){
                    $('#id_optativa').removeClass("validate[required]").prop('checked', false);
                }
            };

            verifica_selector_libre = function () {
                if ($("#id_libreconfiguracion ").is(":checked")){
                    $('#id_optativa').removeClass("validate[required]").prop('checked', false);
                }
            };

            $('#id_sincupo').click(function () {
                verifica_cupo();
            });

            $('#id_optativa').click(function () {
                verifica_selector_optativa();
            });

            $('#id_libreconfiguracion').click(function () {
                verifica_selector_libre();
            });

            ItemsDisplay = function (item) {
                if (item.name){
                    return $('<span>' + item.name+ '</span>');
                }else{
                    return '---------';
                }
            };

            $("#id_solicitante_select2").select2({
                dropdownParent: $('#formulariomodaldinamico'),
                width: '100%',
                placeholder: "---------",
                allowClear: true,
                ajax: {
                    url: '/api',
                    type: "POST",
                    dataType: 'json',
                    delay: 300,
                    data: function (params) {
                        return {
                            q: params.term,
                            page: params.page,
                            a: 'data',
                            model: 'Persona:usuario__is_active=True::10',
                            p: 1,
                            s: 10,
                            csrfmiddlewaretoken: csrftoken
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.data,
                            pagination: {
                                more: (params.page * 30) < data.total_count
                            }
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1,
                templateResult: ItemsDisplay,
                templateSelection: ItemsDisplay
            }).on("select2:select", function (evt) {
                $("#id_solicitante").attr({"value":(evt.params.data.id)});
            });


            verificar_tipo_curso = function () {
                var elemento = $("#id_tipocurso");
                var valor = elemento.val();
                $("#id_costodiferenciado").removeAttr('disabled').prop('checked', false);
                $("#id_costomatricula").removeAttr('disabled').val('0.00');
                $("#id_costocuota").removeAttr('disabled').val('0.00');
                $("#id_cuotas").removeAttr('disabled').val('1');
                $("#id_costototal").val('0.00');
                if (valor){
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_cursoscomplementarios",
                        data: { 'action': 'datos_tipo_curso', 'id': valor, 'csrfmiddlewaretoken': csrftoken},
                        success: function(data) {
                            desbloqueointerface();
                            if (data.result === 'ok'){
                                if (data.diferenciado){
                                    $("#id_costodiferenciado").prop('checked', true);
                                    $("#id_costomatricula").val(parseFloat(data.costo_mat).toFixed(2)).attr({'disabled': 'disabled'});
                                    $("#id_costocuota").val(parseFloat(data.costo_cuota).toFixed(2)).attr({'disabled': 'disabled'});
                                }else{
                                    $("#id_costodiferenciado").prop('checked', false).removeAttr('disabled');
                                    $("#id_costomatricula").val('0.00').removeAttr('disabled');
                                    $("#id_costocuota").val('0.00').removeAttr('disabled');

                                }
                                $("#id_costomatricula").val(parseFloat(data.costo_mat).toFixed(2)).attr({'disabled': 'disabled'});
                                $("#id_costocuota").val(parseFloat(data.costo_cuota).toFixed(2)).attr({'disabled': 'disabled'});
                                $("#id_cuotas").val(data.cuotas).attr({'disabled': 'disabled'});
                                verifica_valor_total();
                            } else {
                                NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                                $("#id_costodiferenciado").removeAttr('disabled').prop('checked', false);
                                $("#id_costomatricula").val('0.00').removeAttr('disabled');
                                $("#id_costocuota").val('0.00').removeAttr('disabled');
                                $("#id_cuotas").val('0').removeAttr('disabled');
                                verifica_valor_total();
                            }
                        },
                        error: function() {
                            desbloqueointerface();
                            NotificacionError('!!!', 'Error de conexión');
                            $("#id_costodiferenciado").removeAttr('disabled').prop('checked', false);
                            $("#id_costomatricula").val('0.00').removeAttr('disabled');
                            $("#id_costocuota").val('0.00').removeAttr('disabled');
                            $("#id_cuotas").val('0').removeAttr('disabled');
                            verifica_valor_total();
                        },
                        dataType: "json"
                    });
                }
            };

            $("#id_modalidad").change(function () {
                var elemento = $(this);
                var valor = elemento.val();
                $('#id_tipocurso').empty().append('<option value="">---------</option>').val(0);
                verificar_tipo_curso();
                if (valor){
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_cursoscomplementarios",
                        data: { 'action': 'tipo_curso', 'id': valor, 'csrfmiddlewaretoken': csrftoken},
                        success: function(data) {
                            desbloqueointerface();
                            if (data.result === 'ok') {
                                for (item in data.lista) {
                                    $('#id_tipocurso').append('<option value="' + data.lista[item][0] + '">' + data.lista[item][1] + '</option>').val(0);
                                }
                            } else {
                                elemento.val(0);
                                NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                            }
                        },
                        error: function() {
                            desbloqueointerface();
                            NotificacionError('!!!', 'Error de conexión');
                            $("#id_costomatricula").val('0.00').removeAttr('disabled');
                            $("#id_costocuota").val('0.00').removeAttr('disabled');
                            $("#id_cuotas").val('0').removeAttr('disabled');
                            verifica_valor_total();
                        },
                        dataType: "json"
                    });
                }
            });


            $("#id_tipocurso").change(function () {
                verificar_tipo_curso();
            });

            $("#id_tipocurso").val(0);
            $("#id_modalidad").val(0);

            verificar_tipo_curso();
            verifica_cupo();

        });
    </script>
{% endblock %}
{% block atras %}/adm_cursoscomplementarios{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_cursoscomplementarios{% endblock %}
{% block formdestination %}/adm_cursoscomplementarios?id={% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addespecialidad'/>
{% endblock %}
{% block formback %}/adm_cursoscomplementarios{% endblock %}
