{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_modelo").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}/{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_cursoscomplementarios{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='cambiarmodelo'/>
    <input type='hidden' name='id' value='{{ curso.id }}'/>
{% endblock %}
{% block formdestination %}/adm_cursoscomplementarios{% endblock %}
{% block formback %}/adm_cursoscomplementarios{% endblock %}