{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_cursoscomplementarios{% endblock %}
{% block formdestination %}/adm_cursoscomplementarios?action=materias&id={{ materia.curso.id }}{% endblock %}
{% block formactionvalue %}cerrarmateria{% endblock %}
{% block formobjectid %}{{ materia.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea cerrar la materia: {% endblock %}
{% block formobjectrepr %}{{ materia }}{% endblock %}