{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_cursoscomplementarios{% endblock %}
{% block formdestination %}/adm_cursoscomplementarios?action=sububicaciones&id={{ locacion.curso.id }}{% endblock %}
{% block formactionvalue %}desactivarlocacion{% endblock %}
{% block formobjectid %}{{ locacion.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea deshabilitar la locación:{% endblock %}
{% block formobjectrepr %}{{ locacion.locacion.nombre }}{% endblock %}