{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_cursoscomplementarios{% endblock %}
{% block formdestination %}/adm_cursoscomplementarios{% endblock %}
{% block formactionvalue %}pasarrecord{% endblock %}
{% block formobjectid %}{{ actividad.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea cambiar el estado la opción de Pasar Al Record del curso: {% endblock %}
{% block formobjectrepr %} {{ actividad }}{% endblock %}
{% block fieldsextra %}
    <input type='hidden' name='actividad' value='{{ actividad.id }}'>
    <input type='hidden' name='actividad' value='{{ actividad.id }}'>
{% endblock %}