{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function () {
            empresa = function () {
                if ($("#id_empresa").is(':checked')) {
                    $("#fieldset_ruc,#fieldset_nombreempresa,#fieldset_emailempresa,#fieldset_direccionempresa,#fieldset_telefonoempresa").show();
                } else {
                    $("#fieldset_ruc,#fieldset_nombreempresa,#fieldset_emailempresa,#fieldset_direccionempresa,#fieldset_telefonoempresa").hide();
                }
            };

            empresa();

            $("#id_empresa").click(function () {
                empresa();
            });
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_cliente{% endblock %}
{% block formdestination %}/adm_cliente{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='{{ request.GET.action|default:"" }}'/>
    {% for k, v in request.GET.items %}
        {% if k != 'action' %}
            <input type="hidden" name="{{ k }}" value="{{ v }}"/>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block formback %}/adm_cliente{% endblock %}
