{% extends "ajaxdeletedinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_coordinaciones{% endblock %}
{% block formdestination %}/adm_coordinaciones?action=personalsecretaria&id={{ secretaria.coordinacion.id }}{% endblock %}
{% block formactionvalue %}delsecretaria{% endblock %}
{% block formobjectid %}{{ secretaria.id }}{% endblock %}
{% block formobjectname %}la secretaria de la coordinación{% endblock %}
{% block formobjectrepr %}{{ secretaria.persona }}{% endblock %}