{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_convocatoriaexamensuficiencia{% endblock %}
{% block formdestination %}/adm_convocatoriaexamensuficiencia?action=registradosubi&id={{ aplicante.convocatoria.id }}{% endblock %}
{% block formactionvalue %}pasarrecord{% endblock %}
{% block formobjectid %}{{ aplicante.inscripcion.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea pasar al record de: {% endblock %}
{% block formobjectrepr %}{{ aplicante.inscripcion.persona }}{% endblock %}
{% block fieldsextra %}
    <input type='hidden' name='action' value='pasarrecord'/>
    <input type='hidden' name='id' value="{{ aplicante.id }}"/>
    <table class="table table-bordered mb-2">
    <thead>
    <tr>
        <th>Módulos de Ingles Aprobados</th>
    </tr>
    </thead>
        {% for nivelesaprobado in aplicante.nivelesaprobados %}
            <tr>
                <td>{{ nivelesaprobado.asignatura }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
