{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_certificacionb1ingles{% endblock %}
{% block formdestination %}/adm_certificacionb1ingles{% endblock %}
{% block formactionvalue %}abrir{% endblock %}
{% block formobjectid %}{{ proceso.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea abrir esta convocatoria? Quedara desbloqueada para modificaciones, pero no se habilitara automaticamente para registro:{% endblock %}
{% block formobjectrepr %}{{ proceso }}{% endblock %}
