{% extends "formbs.html" %}
{% block atras %}/adm_certificacionb1ingles?action=detalles&id={{ proceso.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_certificacionb1ingles{% endblock %}
{% block formdestination %}/adm_certificacionb1ingles?action=detalles&id={{ proceso.id }}{% endblock %}
{% block formextra %}<input type='hidden' name='action' value='adddetalle'/><input type='hidden' name='id' value='{{ proceso.id }}'/>{% endblock %}
{% block formback %}/adm_certificacionb1ingles?action=detalles&id={{ proceso.id }}{% endblock %}
