{% extends "formbs.html" %}
{% block atras %}/adm_certificacionb1ingles?action=detalles&id={{ detalle.convocatoriaconsultorio.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_certificacionb1ingles{% endblock %}
{% block formdestination %}/adm_certificacionb1ingles?action=detalles&id={{ detalle.convocatoriaconsultorio.id }}{% endblock %}
{% block formextra %}<input type='hidden' name='action' value='editdetalle'/><input type='hidden' name='id' value='{{ detalle.id }}'/>{% endblock %}
{% block formback %}/adm_certificacionb1ingles?action=detalles&id={{ detalle.convocatoriaconsultorio.id }}{% endblock %}
