{% extends "formbs.html" %}
{% block extrajavascript %}<script type="text/javascript">$(function(){ $("#id_fecha").datepicker({format:"dd-mm-yyyy"}); });</script>{% endblock %}
{% block atras %}/adm_certificacionb1ingles{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_certificacionb1ingles{% endblock %}
{% block formdestination %}/adm_certificacionb1ingles?action=detalles&id={{ proceso.id }}{% endblock %}
{% block formextra %}<input type='hidden' name='action' value='editfechaexamen'/><input type='hidden' name='id' value='{{ proceso.id }}'/>{% endblock %}
{% block formback %}/adm_certificacionb1ingles{% endblock %}
