{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_archivo").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block atras %}/alu_postulacionexamensuficiencia{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/alu_postulacionexamensuficiencia{% endblock %}
{% block formtagextra %}enctype="multipart/form-data"{% endblock %}
{% block formdestination %}/alu_postulacionexamensuficiencia?action=registro&id={{ aplicante.convocatoria.id }}&t={{ aplicante.id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='subir'/>
    <input type='hidden' name='id' value='{{ requisito.id }}'/>
    <input type='hidden' name='aplicante' value='{{ aplicante.id }}'/>
{% endblock %}
{% block formback %}/alu_postulacionexamensuficiencia{% endblock %}