{% extends "basebs.html" %}
{% load ctt_extras %}
{% load humanize %}
{% block heading %}
{% endblock %}
{% block headcanvas %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>{{ title }}</h4>
        </div>
    </div>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='col-12 responsive'>
            <table class='table table-striped table-bordered'>
                <thead class="table-light">
                <tr>
                    <th style="text-align: center">Proceso</th>
                    <th style="text-align: center">Tipo convocatoria</th>
                    <th style="width: 60px; text-align: center">Período</th>
                    <th style="width: 60px; text-align: center">Activo</th>
                    <th style="width: 80px; text-align: center">Inicio</th>
                    <th style="width: 80px; text-align: center">Fin</th>
                    <th style="width: 80px; text-align: center"></th>
                </tr>
                </thead>
                <tbody>
                {% for p in procesos %}
                    <tr>
                        {% with registro=p|args:inscripcion|call:'registro' %}
                        <td>{{ p }}</td>
                        <td>{{ p.tipoconvocatoria }}</td>
                        <td style="text-align: center" >{{ p.periodo.nombre }}</td>
                        <td style="text-align: center">
                            {% if p.activo %}
                                <span class="badge text-bg-success tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Activo">Si</span>
                            {% else %}
                                <span class="badge text-bg-danger tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Activo">No</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center">{{ p.fechainicio|date:'Y-m-d' }}</td>
                        <td style="text-align: center">{{ p.fechafin|date:'Y-m-d' }}</td>
                        <td style="text-align: center">
                            {% if registro %}
                                <a class="btn btn-sm btn-info tu" href="/alu_postulacionexamensuficiencia?action=registro&id={{ p.id }}&t={{ registro.id }}"><i class="icon-list"></i> Registro</a>
                            {% else %}
                                {% with habilitado=p.registro_habilitado covid=inscripcion|args:p.periodo|call:'existe_solicitudfinanciamiento' %}
                                    {% if habilitado and not p.autoregistro %}
                                        <a class="btn btn-ssm btn-success confirmacionmodal tu" href="javascript:;" nhref="/alu_postulacionexamensuficiencia?action=registrarse&id={{ p.id }}"><i class="icon-plus"></i> Registrarse</a>
                                    {% else %}
                                    Proceso finalizado
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        </td>
                        {% endwith %}
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="20">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
