{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function(){
            $("#id_nombre, #id_alias, #id_tipogrado").addClass("validate[required]");
            
            detalletitulacion = function () {
                var valor = $("#id_tipogrado").val();
                if ($('#id_tiposubgrado option').length > 1){
                    $("#id_tiposubgrado").addClass("validate[required]");
                } else {
                    $("#id_tiposubgrado").removeClass("validate[required]");
                }
            };
a
            $("#id_tipogrado").change(function(){
                var elemento = $(this);
                var id = parseInt(elemento.val());
                $('#id_tiposubgrado').empty().append('<option value="">---------</option>').val(0);
                if(id > 0){
                    $.ajax({
                        type: "POST",
                        url: "/api",
                        data: {'a': 'nivelestitulacion', 'id': id, 'csrfmiddlewaretoken': csrftoken },
                        success: function (data) {
                            desbloqueointerface();
                            if (data.result === 'ok') {
                                for (item in data.lista) {
                                    $('#id_tiposubgrado').append('<option value="' + data.lista[item][0] + '">' + data.lista[item][1] + '</option>').val(0);
                                }
                            } else {
                                elemento.val(0);
                                NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                            }
                            detalletitulacion();
                        },
                        error: function () {
                            desbloqueointerface();
                            elemento.val(0);
                            NotificacionError('!!!', 'Error de conexión');
                            detalletitulacion();
                        },
                        dataType: "json"
                    });
                }
            });

            $('#id_tipogrado').val(0);

            detalletitulacion();

        });
    </script>
{% endblock %}
{% block atras %}/adm_carreras{% endblock %}
{% block formdestination %}/adm_carreras?id={% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_carreras{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='add'/>
{% endblock %}
{% block formback %}/adm_carreras{% endblock %}
