{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function(){
            $("#id_nombre").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block formdestination %}/adm_carreras?action=competencias&id={{ carrera.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_carreras{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addcompetencias'/>
    <input type='hidden' name='id' value='{{ carrera.id }}'/>
{% endblock %}
