{% extends "basebs.html" %}
{% load ctt_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block atras %}/adm_carreras{% endblock %}
{% block headcanvas %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>{{ title }}<br>Carrera: {{ carrera }}</h4>
        </div>
    </div>
    {% if perms.ctt.puede_modificar_carreras %}
        <div class="row">
            <div class="row">
                <div class='col-6'>
                    <a href="javascript:;" nhref="/adm_carreras?action=addcompetencias&id={{ carrera.id }}" class='btn btn-sm btn-success formmodal'><i class="icon-plus"></i> Adicionar</a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='col-12 responsive'>
            <table class='table table-bordered table-striped'>
                <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th style="width: 50px;text-align: center;">Uso</th>
                    <th style="width: 80px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for competencia in competencias %}
                    <tr>
                        <td>{{ competencia.nombre }}</td>
                        <td style="text-align: center">
                            {% if competencia.malla_usando %}
                                <span class="badge text-bg-success tu" data-bs-toggle="tooltip" data-bs-placement="top" title="En uso">Si</span>
                            {% else %}
                                <span class="badge text-bg-danger tu" data-bs-toggle="tooltip" data-bs-placement="top" title="En uso">No</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if perms.ctt.puede_modificar_carreras %}
                                {% if not competencia.malla_usando %}
                                    <a class="btn btn-ssm btn-info formmodal tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" href="javascript:;" nhref="/adm_carreras?action=editcompetencia&id={{ competencia.id }}"><i class="icon-edit"></i></a>
                                    <a  href="javascript:;" nhref='/adm_carreras?action=delcompetencia&id={{ competencia.id }}' class="btn btn-ssm btn-danger eliminacionmodal tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="icon-remove"></i></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="20">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}