{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_inicio, #id_fin, #id_fechacierre, #id_fechatopematricula, #id_fechatopematriculaext, #id_fechatopematriculaesp").datepicker({format:"dd-mm-yyyy"});
            $("#id_sede,#id_sesion,#id_modalidad, #id_paralelo").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}/niveles{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formdestination %}/niveles{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='add'/>
    <input type="hidden" name="coordinacion" value="{{ coordinacion.id }}"/>
{% endblock %}
{% block formback %}/niveles{% endblock %}