{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_aula").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}/niveles?action=materias&id={{ materia.nivel.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/niveles?action=materias&id={{ materia.nivel.id }}{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='cambiaraula'/>
    <input type='hidden' name='id' value='{{ materia.id }}'/>
    <input type='hidden' name='nid' id='nid' value='{{ materia.nivel.id }}'/>
{% endblock %}
{% block formback %}/niveles?action=materias&id={{ materia.nivel.id }}{% endblock %}
