{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formdestination %}/niveles?action=tomandompracticas&id={{ materiasi.grupo.id }}{% endblock %}
{% block formactionvalue %}delestudiantepractica{% endblock %}
{% block formobjectid %}{{ materiasi.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea eliminar del grupo y tambien se eliminara las asistencias del estudinate de practicas:{% endblock %}
{% block formobjectrepr %}{{ materiasi.materiaasignada }}{% endblock %}