{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/niveles?action=materias&id={{ materia.nivel.id }}{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formactionvalue %}desaprobarplanificaciondistributivo{% endblock %}
{% block formobjectid %}   {{ planificacionmateria.id }}{% endblock %}
{% block formobjectrepr %}{{ materia.nombre_simple }}{% endblock %}
{% block mensaje %}Desea confirmar la desaprobación de la planificación de la materia?{% endblock %}