{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_inicio, #id_fin").datepicker({format:"dd-mm-yyyy"});
            $("#id_asignatura, #id_inicio, #id_fin, #id_horas, #id_creditos").addClass("validate[required]");

            materiageneral=function(){
                if ($("#id_rectora").is(':checked')){
                    $('[id*="id_carreras"]').removeAttr('disabled');
                }else{
                    $('[id*="id_carreras"]').attr({'disabled':'disabled'});
                }
            };

            $("#id_horas, #id_horassemanales").blur(function(){
                numerico($(this), 0, 0, 1);
            });

            $("#id_cupo, #id_cupocompartido").blur(function(){
                numerico($(this), 0, 0, 0);
            });

            $("#id_creditos").blur(function(){
                numerico($(this), 0, 20, 4);
            });

            $('#id_rectora').click(function(){
                materiageneral();
            });

            materiageneral();


        });
    </script>
{% endblock %}
{% block atras %}/niveles?action=materias&id={{ materia.niveles.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/niveles?action=materias&id={{ materia.niveles.id }}{% endblock %}
{% block formaction %}/niveles{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editmateria'/>
    <input type='hidden' name='id' value='{{ materia.id }}'/>
{% endblock %}
{% block formback %}/niveles?action=materias&id={{ materia.niveles.id }}{% endblock %}
