{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block atras %}/niveles{% endblock %}
{% block headcanvas %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>{{ title }}
            <br>{{ nivel }}</h4>
            {% if nivel.cerrado %}
                <span class="badge text-bg-danger">CERRADO</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block canvas %}
    {% if not nivel.cerrado and perms.ctt.puede_modificar_niveles %}
        <div class='row mb-2'>
            <div class='col-12'>
                <a href="javascript:;" nhref="/niveles?action=addnivelmatricula&id={{ nivel.id }}" class="formmodal btn btn-sm btn-success"><i class="icon-plus"></i> Adicionar</a>
            </div>
        </div>
    {% endif %}
    <div class='row'>
        <div class='col-12'>
            <table class='table table-bordered table-striped'>
                <thead class="table-light">
                <tr>
                    <th> Carrera </th>
                    <th style="width: 150px;">Nivel Malla</th>
                    <th style="width: 80px;"> </th>
                </tr>
                </thead>
                <tbody>
                {% for nivel in niveles_matricula %}
                    <tr>
                        <td>{{ nivel.carrera }}</td>
                        <td>{{ nivel.nivelmalla|default_if_none:'' }}</td>
                        <td style="text-align: center;">
                            {% if not nivel.cerrado and perms.ctt.puede_modificar_niveles %}
                                <a href="javascript:;" nhref="/niveles?action=delnivelmatricula&id={{ nivel.id }}" class='btn btn-danger btn-ssm btn-form tu eliminacionmodal' data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="icon-remove"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="20">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

