{% extends "basebs.html" %}
{% block heading %}
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v={{ institucion.versionstaticscss }}" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v={{ institucion.versionstaticsjs }}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            seleccionados = $(".seleccionados");

            $("#selector").click(function(){
                if ($(this).prop('checked')){
                    seleccionados.prop('checked', true);
                } else {
                    seleccionados.prop('checked', false);
                }
                actualizar_lista();
            });

            actualizar_lista = function () {
                var lista = '';
                if ($(".seleccionados:checked").length > 0){
                    $("#mover").show();
                    $("#abrirmatricula").show();
                    $("#cerrarmatricula").show();
                }else{
                    $("#mover").hide();
                    $("#abrirmatricula").hide();
                    $("#cerrarmatricula").hide();
                }

                $(".seleccionados:checked").each(function () {
                    var ida = $(this).attr('id');
                    lista += ida + ',';
                });
                if (lista.length > 0){
                    lista = lista.substring(0, lista.length-1);
                }
                return lista;
            };

            $(".seleccionados").click(function () {
                actualizar_lista();
            });

            $("#mover").click(function() {
                var id = {{ materia.id }};
                var lista = actualizar_lista();
                $(this).attr({'href': '/niveles?action=movermateriasession&id='+id+'&lista_items1='+lista});
            });

            $("#abrirmatricula").click(function() {
                var mid = {{ materia.id }};
                var lista = actualizar_lista();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/niveles",
                    data: {'action': 'abrirtodasmatriculas', 'lista_items1': lista, 'mid': mid, 'csrfmiddlewaretoken': csrftoken},
                    success: function(data) {
                        desbloqueointerface();
                        if (data.result === 'ok') {
                            location.href = '/niveles?action=tomandom&id={{ materia.id }}';
                        } else {
                            NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                        }
                    },
                    error: function() {
                        desbloqueointerface();
                        NotificacionError('!!!', 'Error de conexión');
                    },
                    dataType: "json"
                });

            });

            $("#cerrarmatricula").click(function() {
                var mid = {{ materia.id }};
                var lista = actualizar_lista();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    timeout: 8000,
                    url: "/niveles",
                    data: {'action': 'cerrartodasmatriculas', 'lista_items1': lista, 'mid': mid, 'csrfmiddlewaretoken': csrftoken},
                    success: function(data) {
                        if (data.result === 'ok') {
                            location.href = '/niveles?action=tomandom&id={{ materia.id }}';
                        } else {
                            desbloqueointerface();
                            NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                        }
                    },
                    error: function() {
                        desbloqueointerface();
                        NotificacionError('!!!', 'Error de conexión');
                    },
                    dataType: "json"
                });

            });

            seleccionados.prop('checked', false);

        });
    </script>
{% endblock %}
{% block atras %}/niveles?action=materias&id={{ nivel.id }}{% endblock %}
{% block headcanvas %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>{{ title }}
                <br>Materia: {{ materia }}</h4>
        </div>
    </div>
    {% if perms.ctt.puede_modificar_matriculas %}
        <div class='row mb-2'>
            <div class='col-6'>
                <div class="btn-group dropdown">
                    <a style="display: none" id="mover" href="" class="btn btn-sm btn-warning"><i class="icon-retweet"></i> Mover</a>
                    {% if perms.ctt.puede_abrir_matriculas_materias %}
                        <a style="display: none" id="abrirmatricula" href="" class="btn btn-sm btn-success"><i class="icon-star"></i> Abrir matrículas</a>
                        <a style="display: none" id="cerrarmatricula" href="" class="btn btn-sm btn-danger"><i class="icon-remove-sign"></i> Cerrar matrículas</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='col-12 responsive'>
            <table class='table table-bordered table-striped'>
                <thead class="table-light">
                <tr>
                    {% if perms.ctt.puede_modificar_matriculas %}
                        <th style="width: 40px; text-align: center"><input type="checkbox" id="selector"></th>
                    {% endif %}
                    <th style="width: 50px;text-align: center;">No.</th>
                    <th>Inscripci&oacute;n</th>
                    <th style="width: 400px">Carrera</th>
                    <th style="width: 90px;">Identificación</th>
                    <th style="width: 200px;">Email / Teléfono</th>
                    <th style="width: 80px;text-align: center">Fecha / Hora</th>
                    <th style="width: 50px;text-align: center">Prom.</th>
                    <th style="width: 70px;text-align: center">%Asis.</th>
                    <th style="width:60px;text-align: center">Foto</th>
                    {% if perms.ctt.puede_abrir_matriculas_materias %}
                        <th style="width:60px;text-align: center">Matrícula</th>
                        <th style="width:60px;text-align: center"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for materiaasignada in materiasasignadas %}
                    <tr>
                        {% if perms.ctt.puede_modificar_matriculas %}
                            <td style="text-align: center">
                                <input type="checkbox" id="{{ materiaasignada.id }}" name="materiaasignada" class="seleccionados">
                            </td>
                        {% endif %}
                        <td style="text-align: center;">{{ forloop.counter }}</td>
                        <td>{{ materiaasignada.matricula.inscripcion.persona }}
                            {% if nivel != materiaasignada.matricula.nivel %}
                                <br><span class="badge">{{ materiaasignada.matricula.nivel.paralelo }}</span>
                            {% endif %}
                            {% if materiaasignada.retirado %}
                                <br><span class="badge text-bg-danger">RETIRADO</span>
                            {% endif %}
                            {% if materia.lms %}
                                <br>
                                {% if materiaasignada.exportadolms %}
                                    <span class="badge text-bg-success tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportado a LMS">LMS</span>
                                {% else %}
                                    <span class="badge text-bg-warning tu blinkimg" data-bs-toggle="tooltip" data-bs-placement="top" title="Exportado a LMS">LMS</span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ materiaasignada.matricula.inscripcion.mi_malla }}<br>{{ materiaasignada.matricula.inscripcion.mi_itinerario }}, {{ materiaasignada.matricula.inscripcion.sesion.nombre }}, {{ materiaasignada.matricula.inscripcion.sede }}</td>
                        <td>{{ materiaasignada.matricula.inscripcion.persona.identificacion }}</td>
                        <td>
                            {%  for email in materiaasignada.matricula.inscripcion.persona.lista_emails %}
                                <a href="mailto:{{ email }}">{{ email }}</a><br/>
                            {% endfor %}
                            <br>
                            {% for telefono in materiaasignada.matricula.inscripcion.persona.lista_telefonos %}
                                {{ telefono }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td style="text-align: center">{{ materiaasignada.matricula.fecha|date:"Y-m-d" }} <br>{{ materiaasignada.matricula.hora|time:"h:i a" }}</td>
                        <td style="text-align: center">{{ materiaasignada.notafinal|floatformat:2 }}</td>
                        <td style="text-align: center">{{ materiaasignada.asistenciafinal|floatformat:2 }}</td>
                        <td style="text-align: center">
                            {% if materiaasignada.matricula.inscripcion.persona.foto %}
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="{{ materiaasignada.matricula.inscripcion.persona.nombre_completo }}" href='{{ materiaasignada.matricula.inscripcion.persona.foto.foto.url }}' class="fancybox" rel="group"><img src="{{ materiaasignada.matricula.inscripcion.persona.foto.foto.url }}" width="30px"></a>
                            {% else %}
                                {% if materiaasignada.matricula.inscripcion.persona.es_mujer %}
                                    <img src="/static/images/iconos/mujer_small.png" width="30">
                                {% else %}
                                    <img src="/static/images/iconos/hombre_small.png" width="30">
                                {% endif %}
                            {% endif %}
                        </td>
                        {% if perms.ctt.puede_abrir_matriculas_materias %}
                            <td style="text-align: center">
                                {% if materiaasignada.matricula.cerrada %}<span class="badge text-bg-danger">Cerrada</span>{% else %}<span class="badge text-bg-success">Abierta</span>{% endif %}
                            </td>
                            <td>
                                <div class="btn-group dropdown">
                                    <a class="btn btn-ssm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">Acciones <span class="caret"></span></a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                        {% if materiaasignada.matricula.cerrada %}
                                            <li class="smaller"><a href="javascript:;" nhref='/niveles?action=abrirmatricula&id={{ materiaasignada.matricula.id }}&idm={{ materia.id }}' class="dropdown-item confirmacionmodal"><i class="icon-check"></i> Abrir matrícula</a></li>
                                        {% else %}
                                            <li class="smaller"><a href="javascript:;" nhref='/niveles?action=cerrarmatricula&id={{ materiaasignada.matricula.id }}&idm={{ materia.id }}' class="dropdown-item confirmacionmodal"><i class="icon-check"></i> Cerrar matrícula</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="20">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="{% if perms.ctt.puede_modificar_matriculas %}7{% else %}6{% endif %}"></td>
                    <td style="text-align: center"><b>{{ materia.promedio_nota_general|floatformat:2 }}</b></td>
                    <td style="text-align: center"><b>{{ materia.promedio_asistencia_general|floatformat:2 }}</b></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}