{% extends "basebs.html" %}
{% block heading %}
    <link rel="stylesheet" href="/static/css/jquery.fancybox.css?v={{ institucion.versionstaticscss }}" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/js/jquery.fancybox.pack.js?v={{ institucion.versionstaticsjs }}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            seleccionados = $(".seleccionados");

            $("#selector").click(function(){
                if ($(this).prop('checked')){
                    seleccionados.prop('checked', true);
                } else {
                    seleccionados.prop('checked', false);
                }
                actualizar_lista();
            });

            actualizar_lista = function () {
                var lista = '';
                if ($(".seleccionados:checked").length > 0){
                    $("#mover").show();
                    $("#abrirmatricula").show();
                    $("#cerrarmatricula").show();
                }else{
                    $("#mover").hide();
                    $("#abrirmatricula").hide();
                    $("#cerrarmatricula").hide();
                }

                $(".seleccionados:checked").each(function () {
                    var ida = $(this).attr('id');
                    lista += ida + ',';
                });
                if (lista.length > 0){
                    lista = lista.substring(0, lista.length-1);
                }
                return lista;
            };

            $(".seleccionados").click(function () {
                actualizar_lista();
            });

            $("#mover").click(function() {
                var id = {{ grupo.id }};
                var lista = actualizar_lista();
                $(this).attr({'href': '/niveles?action=movermateriasession&id='+id+'&lista_items1='+lista});
            });

            $("#abrirmatricula").click(function() {
                var mid = {{ grupo.id }};
                var lista = actualizar_lista();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    url: "/niveles",
                    data: {'action': 'abrirtodasmatriculas', 'lista_items1': lista, 'mid': mid, 'csrfmiddlewaretoken': csrftoken},
                    success: function(data) {
                        desbloqueointerface();
                        if (data.result === 'ok') {
                            location.href = '/niveles?action=tomandom&id={{ grupo.id }}';
                        } else {
                            NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                        }
                    },
                    error: function() {
                        desbloqueointerface();
                        NotificacionError('!!!', 'Error de conexión');
                    },
                    dataType: "json"
                });

            });

            $("#cerrarmatricula").click(function() {
                var mid = {{ grupo.id }};
                var lista = actualizar_lista();
                bloqueointerface();
                $.ajax({
                    type: "POST",
                    timeout: 8000,
                    url: "/niveles",
                    data: {'action': 'cerrartodasmatriculas', 'lista_items1': lista, 'mid': mid, 'csrfmiddlewaretoken': csrftoken},
                    success: function(data) {
                        if (data.result === 'ok') {
                            location.href = '/niveles?action=tomandom&id={{ grupo.id }}';
                        } else {
                            desbloqueointerface();
                            NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                        }
                    },
                    error: function() {
                        desbloqueointerface();
                        NotificacionError('!!!', 'Error de conexión');
                    },
                    dataType: "json"
                });

            });

            seleccionados.prop('checked', false);

        });
    </script>
{% endblock %}
{% block atras %}/niveles?action=grupospracticas&id={{ grupo.materia.id }}{% endblock %}
{% block headcanvas %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>{{ title }}
                <br>Grupo: {{ grupo.nombre }}
                <br>Materia: {{ grupo.materia }}</h4>
        </div>
    </div>
    <div class="row">
        <div class='col-6'>
            <a class="btn btn-sm btn-success" href="/niveles?action=addestudiantegrupopractica&id={{ grupo.id }}"><i class="icon-plus"></i> Adicionar</a>
        </div>
    </div>
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='col-12 responsive'>
            <table class='table table-bordered table-striped'>
                <thead class="table-light">
                <tr>
                    <th style="width: 50px;text-align: center;">No.</th>
                    <th>Inscripci&oacute;n</th>
                    <th style="width: 400px">Carrera</th>
                    <th style="width: 90px;">Identificación</th>
                    <th style="width: 200px;">Email</th>
                    <th style="width: 150px;">Teléfono</th>
                    <th style="width: 80px;text-align: center">Fecha</th>
                    <th style="width: 80px;text-align: center">Hora</th>
                    <th style="width: 50px;text-align: center">Prom.</th>
                    <th style="width: 70px;text-align: center">%Asis.</th>
                    <th style="width:60px;text-align: center">Foto</th>
              
                    <th style="width:60px;text-align: center">Matrícula</th>
                    <th style="width:60px;text-align: center"></th>
                 
                </tr>
                </thead>
                <tbody>
                {% for materiaasignada in materiasasignadas %}
                    <tr>
                        <td style="text-align: center;">{{ forloop.counter }}</td>
                        <td>{{ materiaasignada.materiaasignada.matricula.inscripcion.persona }}
                            {% if nivel != materiaasignada.materiaasignada.matricula.nivel %}
                                <br><span class="badge text-bg-info ">{{ materiaasignada.materiaasignada.matricula.nivel.paralelo }}</span>
                            {% endif %}
                            {% if materiaasignada.materiaasignada.retirado %}
                                <br><span class="badge text-bg-danger">RETIRADO</span>
                            {% endif %}
                        </td>
                        <td>{{ materiaasignada.materiaasignada.matricula.inscripcion.mi_malla }}<br>{{ materiaasignada.materiaasignada.matricula.inscripcion.mi_itinerario }}, {{ materiaasignada.materiaasignada.matricula.inscripcion.sesion.nombre }}, {{ materiaasignada.materiaasignada.matricula.inscripcion.sede }}</td>
                        <td>{{ materiaasignada.materiaasignada.matricula.inscripcion.persona.identificacion }}</td>
                        <td>{%  for email in materiaasignada.materiaasignada.matricula.inscripcion.persona.lista_emails %}
                            <a href="mailto:{{ email }}">{{ email }}</a><br/>
                        {% endfor %}
                        </td>
                        <td>
                            {%  for telefono in materiaasignada.materiaasignada.matricula.inscripcion.persona.lista_telefonos %}
                                {{ telefono }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td style="text-align: center">{{ materiaasignada.materiaasignada.matricula.fecha|date:"Y-m-d" }}</td>
                        <td style="text-align: center">{{ materiaasignada.materiaasignada.matricula.hora|time:"h:i a" }}</td>
                        <td style="text-align: center">{{ materiaasignada.materiaasignada.notafinal|floatformat:2 }}</td>
                        <td style="text-align: center">{{ materiaasignada.materiaasignada.asistenciafinal|floatformat:2 }}</td>
                        <td style="text-align: center">
                            {% if materiaasignada.materiaasignada.matricula.inscripcion.persona.foto %}
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="{{ materiaasignada.materiaasignada.matricula.inscripcion.persona.nombre_completo }}" href='{{ materiaasignada.materiaasignada.matricula.inscripcion.persona.foto.foto.url }}' class="fancybox" rel="group"><img src="{{ materiaasignada.materiaasignada.matricula.inscripcion.persona.foto.foto.url }}" width="30px"></a>
                            {% else %}
                                {% if materiaasignada.materiaasignada.matricula.inscripcion.persona.es_mujer %}
                                    <img src="/static/images/iconos/mujer_small.png" width="30">
                                {% else %}
                                    <img src="/static/images/iconos/hombre_small.png" width="30">
                                {% endif %}
                            {% endif %}
                        </td>
                        
                            <td style="text-align: center">{% if materiaasignada.materiaasignada.matricula.cerrada %}Cerrada{% else %}Abierta{% endif %}</td>
                            <td>
                                <div class="btn-group dropdown">
                                    <a class="btn btn-ssm btn-outline-secondary dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:;">Acciones <span class="caret"></span></a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown-layouts">
                                    {% if not materiaasignada.puede_cambiar %}
                                        <li class="smaller"><a class="formmodal dropdown-item" href="javascript:;" nhref="/niveles?action=cambiargrupo&id={{ materiaasignada.id }}"><i class="icon-wrench"></i> Cambiar Grupo</a></li>
                                    {% endif %}
                                        <li class="dropdown-divider"></li>
                                         
                                            <li class="smaller"><a class="confirmacionmodal dropdown-item" href="javascript:;" nhref="/niveles?action=delestudiantepractica&id={{ materiaasignada.id }}"><i class="icon-remove"></i> Eliminar</a></li>
                                      
                                    </ul>
                                </div>
                            </td>
                
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="20">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8"></td>
                    <td style="text-align: center"><b>{{ materia.promedio_nota_general|floatformat:2 }}</b></td>
                    <td style="text-align: center"><b>{{ materia.promedio_asistencia_general|floatformat:2 }}</b></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}