{% extends "basebs.html" %}
{% block headcanvas %}
    <div class='row'>
    <div class="col-2"></div>
        <div class="col-8">
            <h3 style="text-align: center;">TÉRMINOS Y CONDICIONES PARA LA UTILIZACIÓN DEL CANAL BOTON DE PAGOS DE LA UNIVERSIDAD TECNOLÓGICA INDOAMÉRICA</h3>
            <p>&nbsp;</p>
            <p>La Universidad Tecnológica INDOAMÉRICA, en adelante el “PRESTADOR” pone a disposición de sus usuarios, en adelante “ESTUDIANTE”, el canal de recaudación <strong>“Botón de Pagos”</strong> a través de nuestro Sistema de Gestión Académica CTT, el mismo que permite realizar pagos de aranceles, matrículas, derechos y demás especias valoradas, talleres, cursos, seminarios, viajes y/o consultas del historial de pagos realizados mediante este medio, bajo los términos y condiciones previstos en el presente contrato.</p>
            <p><strong>1.- INGRESO AL SISTEMA</strong></p>
            <p>Al ingresar a la página web de la Universidad y usar este canal de pagos, el “ESTUDIANTE” expresa su voluntad y acepta los términos y condiciones establecidos pulsando sobre el recuadro “ACEPTO”, si el “ESTUDIANTE” NO está de acuerdo con estos términos y condiciones, no accederá al sistema y no podrá hacer uso de este sitio, por cuanto se entiende que existe un acuerdo en común entre las partes tanto del “PRESTADOR” como por parte del “ESTUDIANTE” para realizar sus pagos.</p>
            <p><strong>2.- REGISTRO POR PARTE DEL ESTUDIANTE</strong></p>
            <p>El “PRESTADOR” habilitará en la página web institucional el registro para que el “ESTUDIANTE” pueda acceder a las consultas y/o pagos de aranceles, matrículas, derechos y demás especias valoradas, a través del Sistema de Gestión Académica CTT que el “PRESTADOR” pone a su disposición. El “ESTUDIANTE” debe registrarse proporcionando los datos solicitados en forma completa, verdadera y precisa, a fin de poder suministrarle nuestros servicios.</p>
            <p>En caso de que el “ESTUDIANTE” proporcione información falsa, imprecisa o incompleta el “PRESTADOR” podrá dar por concluido este contrato.</p>
            <p>El “ESTUDIANTE” al momento de estar legalmente matriculado por primera vez, se le proporcionará un usuario de inicio de sesión y contraseña para el uso del CTT y será el “ESTUDIANTE” responsable de lo que suceda con su nombre de inicio de sesión y contraseña puesto que es el responsable del manejo de su clave y usuario.</p>
            <p><strong>3.- MODIFICACIONES</strong></p>
            <p>El “PRESTADOR” podrá modificar cuantas veces sea necesario los términos y condiciones establecidas en este contrato con el fin de aclararlos sin necesidad de formalidad alguna, cada vez que el “PRESTADOR” realice un cambio a estos términos y</p>
            <p>condiciones serán informados en el mismo CTT al ¨ESTUDIANTE¨ al pulsar sobre el recuadro “ACEPTO”. Si el “ESTUDIANTE” no pulsara sobre el recuadro “ACEPTO” se dará por concluido en ese mismo momento, sin incurrir por ello en responsabilidad alguna para el “PRESTADOR”.</p>
            <p><strong>4.- COSTOS</strong></p>
            <p>El “PRESTADOR” en la actualidad ofrece este servicio con un costo de 0,05 centavos de dolar por transacción, sin que ello limite en un futuro su modificación, la misma que será notificada a través CTT.</p>
            <p><strong>5.- SERVICIOS</strong></p>
            <p>Los servicios disponibles son los que se encuentran habilitados al momento de su acceso en el CTT, disponible por el “PRESTADOR”. (pago de aranceles, matrículas, derechos y demás especias valoradas)</p>
            <p><strong>6.- CONFIDENCIALIDAD</strong></p>
            <p>La utilización del canal de recaudación Botón de Pagos que el “PRESTADOR” pone a disposición del “ESTUDIANTE” es de exclusiva responsabilidad del usuario, la cual se considera como información privada. El “PRESTADOR” no se hace responsable por el mal manejo de la información proporcionada al “ESTUDIANTE”.</p>
            <p>INDOAMÉRICA no guardará ningún tipo de información de registros o base de datos que impliquen números de tarjetas o códigos de las mismas.</p>
            <p><strong>7.- POLÍTICA DE PRIVACIDAD</strong></p>
            <p>Por la prestación de este servicio, el “PRESTADOR” podrá recopilar información de registro, información que pasará a terceros cuando ésta sea requerida por la ley o por acciones legales para las cuales esta información es relevante, como cuando se trate de una orden judicial o a propósito para prevenir un delito o fraude.</p>
            <p>En cuyo caso se entenderá que el “ESTUDIANTE” ha dado su permiso para revelar la información constante por la ejecución del servicio.</p>
            <p><strong>8.- PROPIEDAD</strong></p>
            <p>El “ESTUDIANTE” acepta que el “PRESTADOR” es el dueño y propietario de los derechos personales y reales sobre la Base de Datos que se proporcionará en este servicio de recaudación.</p>
            <p><strong>9.- HORARIO</strong></p>
            <p>El servicio de recaudación a través de la página web institucional mediante su Sistema de Gestión Académica CTT “Botón de Pagos” estará disponible de forma permanente de 06h00 a las 23h00 del di?a, los 7 di?as de la semana y durante los 365 di?as del an?o.</p>
            <p>No obstante, el servicio se podra? interrumpir cuando resulte necesario o conveniente realizar las operaciones de mantenimiento en la red.</p>
            <p><strong>10. INDEMNIDAD</strong></p>
            <p>El “ESTUDIANTE” se obliga a mantener indemnes de todo reclamo o demanda a el “PRESTADOR”, funcionarios y empleados, incluyendo honorarios de abogados, por algu?n tercero debido a, o que surja como consecuencia del uso por parte suya del servicio que se le ha proporcionado, de su violacio?n de los te?rminos y condiciones, o de la violacio?n de algu?n derecho de un tercero.</p>
            <p><strong>11.-COMERCIAL</strong></p>
            <p>El “ESTUDIANTE” tiene derecho a usar el servicio de consultas y/o pagos de sus aranceles, matrículas, derechos y demás especias valoradas, como un servicio personal, el “ESTUDIANTE” se obliga además a utilizar responsablemente cada uno de los servicios habilitados.</p>
            <p><strong>12.-PROHIBICIONES</strong></p>
            <p>Está prohibido al “ESTUDIANTE”:</p>
            <ul>
                <li>Utilizar datos e información de otra persona para la utilización del servicio;</li>
                <li>Violar alguna ley nacional a trave?s del, o en el servicio;</li>
                <li>Causar molestias o perturbar a terceros a trave?s del, o en el servicio;</li>
                <li>Recopilar o almacenar datos de terceros o acerca de ellos;</li>
                <li>Utilizar el servicio de alguna forma que no sea lo expresamente permitido;</li>
                <li>Reproducir, duplicar, copiar vender o explotar con algu?n fin comercial alguna parte que por uso o acceso se tiene al servicio;</li>
                <li>Utilizar términos o expresiones injuriosas, intimidantes, calumniantes o contrarias a las buenas costumbres.</li>
            </ul>
            <p><strong>13.-JURISDICCIÓN Y COMPETENCIA</strong></p>
            <p>La legislación aplicable a este contrato es la ecuatoriana. Para el caso de reclamo con respecto a la relación o ejecución en cumplimiento de las condiciones establecidas en este documento o de la utilización del servicio, incluyendo sin limitación, el reclamo sobre la validez, interpretación, exigibilidad o incumplimiento de dichas condiciones, finalmente será resuelto ante la justicia competente en la ciudad de Ambato.</p>
        </div>
    </div>
{% endblock %}