{% extends "adm_institucion/view.html" %}
{% block contenidoseccion %}
    <div class="row-fluid">
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item " role="presentation">
                    <a class="nav-link subseccion {% if subseccion == 0 %}active{% endif %}" ids="0" id="tab0" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab" aria-controls="tab-1" aria-selected="true">Datos Básicos</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link subseccion {% if subseccion == 1 %}active{% endif %}" ids="1" id="tab1" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false">Puntos de Venta</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link subseccion {% if subseccion == 2 %}active{% endif %}" ids="2" id="tab2" data-bs-toggle="tab" data-bs-target="#tab-3" type="button" role="tab" aria-controls="tab-2" aria-selected="false">Iva Aplicado</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link subseccion {% if subseccion == 3 %}active{% endif %}" ids="3" id="tab3" data-bs-toggle="tab" data-bs-target="#tab-4" type="button" role="tab" aria-controls="tab-2" aria-selected="false">Cuentas Bancarias</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link subseccion {% if subseccion == 4 %}active{% endif %}" ids="4" id="tab4" data-bs-toggle="tab" data-bs-target="#tab-5" type="button" role="tab" aria-controls="tab-2" aria-selected="false">Solicitudes</a>
                </li>
            </ul>
        </div>
    </div>
    {% block contenidosubseccion %}{% endblock %}
{% endblock %}
