{% extends "adm_institucion/4.html" %}
{% load ctt_extras %}
{% block jssubseccion %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block contenidosubseccion %}
    {% if perms.ctt.puede_modificar_parametros_institucion %}
        <div class='row'>
            <div class='col-6'>
                <a href="javascript:;" nhref="/adm_institucion?action=addcompetenciagenerica" class='formmodal btn btn-sm mb-2 btn-success'><i class="icon-plus tu"></i>Adicionar</a>
            </div>
        </div>
    {% endif %}
    <div class='row'>
        <div class='col-12'>
            <table class="table table-bordered">
                <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th style="width: 40px"></th>
                </tr>
                </thead>
                <tbody>
                {% for competencia in competenciagenericas %}
                    <tr>
                        <td>{{ competencia.nombre }}</td>
                        <td style="text-align: center">
                            {% if perms.ctt.puede_modificar_parametros_institucion %}
                                <a href="javascript:;" nhref="/adm_institucion?action=delcompetencia&id={{ competencia.id }}" class="btn btn-ssm btn-danger tu eliminacionmodal" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="icon-remove"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="20">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
