{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}/adm_institucion{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_institucion{% endblock %}
{% block formdestination %}/adm_institucion{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addbiblioteca'/>
    <input type='hidden' name='id' value='{{ sede.id }}'/>
{% endblock %}
{% block formback %}/adm_institucion{% endblock %}
