{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre").addClass("validate[required]");

        });
    </script>
{% endblock %}
{% block atras %}/adm_institucion?t=2&h2=0{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_institucion{% endblock %}
{% block formdestination %}/adm_institucion?t=2&h2=0{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addcargo'/>
{% endblock %}
{% block formback %}/adm_institucion?t=2&h2=0{% endblock %}
