{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_sesion, #id_turno").addClass("validate[required]");

             $("#id_comienza, #id_termina").timepicker({minuteStep: 1,appendWidgetTo: 'body', showSeconds: false, showMeridian: false, defaultTime: false});

             $("#id_turno").blur(function () {
                numerico($(this), 0, 0, 0);
             });

             $("#id_horas").blur(function () {
                numerico($(this), 0, 0, 1);
             });

        });
    </script>
{% endblock %}
{% block atras %}/adm_institucion?t=6&ac1=3{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_institucion{% endblock %}
{% block formdestination %}/adm_institucion?t=6&ac1=3{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addturno'/>
{% endblock %}
{% block formback %}/adm_institucion?t=6&ac1=3{% endblock %}
