{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $('#id_logica').css({'text-transform': 'none'})
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}adm_institucion?action=modeloslms&id={{ logica.lms.id }}{% endblock %}
{% block formaction %}/adm_institucion{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editarlogicamodelo'/>
    <input type='hidden' name='id' value='{{ logica.id }}'/>
{% endblock %}
{% block buttonname %}Guardar{% endblock %}