{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_emailhost").addClass("validate[required]");
            $("#id_emailhost, #id_domainapp, #id_emaildomain, #id_emailhostuser, #id_emailpassword").css({'text-transform': 'none'});

            $("#id_emailport").blur(function () {
               numerico($(this), 0, 0, 0);
            });

        });
    </script>
{% endblock %}
{% block atras %}/adm_institucion?t=8{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_institucion?t=8{% endblock %}
{% block formaction %}/adm_institucion{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editcorreo'/>
{% endblock %}
{% block formback %}/adm_institucion?t=8{% endblock %}
{% block buttonname %}Guardar{% endblock %}