{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre, #id_tipo").addClass("validate[required]");
            
            $("#id_host, #id_logica_creacion_materia, #id_logica_creacion_usuario, #id_logica_asignar_profesor_materia, #id_logica_matricular_usuario_materia,  #id_logica_general, #id_logica_bloqueo_usuario, #id_logica_desbloqueo_usuario, #id_logica_plantillas, #id_key").css({'text-transform': 'none'})

             $("#id_puerto").blur(function () {
                numerico($(this), 0, 0, 0);
             });

        });
    </script>
{% endblock %}
{% block formback %}/adm_institucion?seccion=4{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_institucion{% endblock %}
{% block formdestination %}/adm_institucion?subseccion=6{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editlms'/>
    <input type='hidden' name='id' value='{{ lms.id }}'/>
{% endblock %}
