{% extends "basebs.html" %}
{% load ctt_extras %}
{% block heading %}
    <script type="text/javascript">
        var lista_items1 = [];
        var lista_items2 = [];
        $(function() {

            actualizar_lista = function () {
                lista_items1 = [];
                $(".sel_per:checked").each(function () {
                    var idp = $(this).attr('idp');
                    var item = {
                        id: idp
                    };
                    lista_items1.push(item);
                });
            };

            actualizar_lista_modulo = function () {
                lista_items1 = [];
                $(".sel_modulo:checked").each(function () {
                    var idp = $(this).attr('idp');
                    var item = {
                        id: idp
                    };
                    lista_items1.push(item);
                });
            };

            actualizar_lista_modulo_grupo = function () {
                lista_items2 = [];
                $(".sel_modulo_grupo:checked").each(function () {
                    var idp = $(this).attr('idp');
                    var item = {
                        id: idp
                    };
                    lista_items2.push(item);
                });
            };

            $("#todos").click(function(){
                if ($(this).is(':checked')){
                    $(".sel_per").prop('checked', true);
                } else {
                    $(".sel_per").prop('checked', false);
                }
                actualizar_lista();
            });

            $(".sel_per").click(function () {
                actualizar_lista();
            });

            actualizar_lista_grupo = function () {
                lista_items2 = [];
                $(".sel_per_grupo:checked").each(function () {
                    var idp = $(this).attr('idp');
                    var item = {
                        id: idp
                    };
                    lista_items2.push(item);
                });
            };

            $("#todos_grupo").click(function(){
                if ($(this).is(':checked')){
                    $(".sel_per_grupo").prop('checked', true);
                } else {
                    $(".sel_per_grupo").prop('checked', false);
                }
                actualizar_lista_grupo();
            });

            $(".sel_per_grupo").click(function () {
                actualizar_lista_grupo();
            });

            $("#addreporte").click(function () {
                if (lista_items1.length > 0 ){
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_institucion",
                        data: {'action': 'addreporte', 'lista': JSON.stringify(lista_items1), 'id': {{ grupo.id }}, 'csrfmiddlewaretoken': csrftoken},
                        success: function(data) {
                            if (data.result === 'ok') {
                                location.href = "/adm_institucion?action=reportesgrupo&id={{ grupo.id }}"
                            } else {
                                desbloqueointerface();
                                NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                            }
                        },
                        error: function() {
                            desbloqueointerface();
                            NotificacionError('!!!', 'Error de conexión');
                        },
                        dataType: "json"
                    });
                }
            });

            $("#delreporte").click(function () {
                if (lista_items2.length > 0 ){
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_institucion",
                        data: {'action': 'delreporte', 'lista': JSON.stringify(lista_items2), 'id': {{ grupo.id }}, 'csrfmiddlewaretoken': csrftoken},
                        success: function(data) {
                            if (data.result === 'ok') {
                                location.href = "/adm_institucion?action=reportesgrupo&id={{ grupo.id }}"
                            } else {
                                desbloqueointerface();
                                 NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                            }
                        },
                        error: function() {
                            desbloqueointerface();
                            NotificacionError('!!!', 'Error de conexión');
                        },
                        dataType: "json"
                    });
                }
            });


            $("#todos_modulo_grupo").click(function(){
                if ($(this).is(':checked')){
                    $(".sel_modulo_grupo").prop('checked', true);
                } else {
                    $(".sel_modulo_grupo").prop('checked', false);
                }
                actualizar_lista_modulo_grupo();
            });

            $(".sel_modulo_grupo").click(function () {
                actualizar_lista_modulo_grupo();
            });


            $("#todos_modulos").click(function(){
                if ($(this).is(':checked')){
                    $(".sel_modulo").prop('checked', true);
                } else {
                    $(".sel_modulo").prop('checked', false);
                }
                actualizar_lista_modulo();
            });

            $(".sel_modulo").click(function () {
                actualizar_lista_modulo();
            });


            $(".filterable tr:has(td)").each(function(){
                var t = $(this).text().toLowerCase();
                $("<td class='indexColumn'></td>").hide().text(t).appendTo(this);
            });
            $("#FilterTextBox").keyup(function(){
                var s = $(this).val().toLowerCase().split(" ");
                $(".filterable tr:hidden").show();
                $.each(s, function(){
                    $(".filterable tr:visible .indexColumn:not(:contains('" + this + "'))").parent().hide();
                });
                $(".filterable3 tr:hidden").show();
            });


            $(".filterable1 tr:has(td)").each(function(){
                var t = $(this).text().toLowerCase();
                $("<td class='indexColumn'></td>").hide().text(t).appendTo(this);
            });
            $("#FilterTextBox1").keyup(function(){
                var s = $(this).val().toLowerCase().split(" ");
                $(".filterable1 tr:hidden").show();
                $.each(s, function(){
                    $(".filterable1 tr:visible .indexColumn:not(:contains('" + this + "'))").parent().hide();
                });
                $(".filterable3 tr:hidden").show();
            });

            $(".filterable2 tr:has(td)").each(function(){
                var t = $(this).text().toLowerCase();
                $("<td class='indexColumn'></td>").hide().text(t).appendTo(this);
            });
            $("#FilterTextBox2").keyup(function(){
                var s = $(this).val().toLowerCase().split(" ");
                $(".filterable2 tr:hidden").show();
                $.each(s, function(){
                    $(".filterable2 tr:visible .indexColumn:not(:contains('" + this + "'))").parent().hide();
                });
                $(".filterable3 tr:hidden").show();
            });


            $(".filterable4 tr:has(td)").each(function(){
                var t = $(this).text().toLowerCase();
                $("<td class='indexColumn'></td>").hide().text(t).appendTo(this);
            });
            $("#FilterTextBox4").keyup(function(){
                var s = $(this).val().toLowerCase().split(" ");
                $(".filterable4 tr:hidden").show();
                $.each(s, function(){
                    $(".filterable4 tr:visible .indexColumn:not(:contains('" + this + "'))").parent().hide();
                });
                $(".filterable3 tr:hidden").show();
            });


            $(".sel_per").prop('checked', false);
            $(".sel_per_grupo").prop('checked', false);
            $("#todos").prop('checked', false);
            $("#todos_grupo").prop('checked', false);



        });
    </script>
{% endblock %}
{% block atras %}/adm_institucion?t=7{% endblock %}
{% block headcanvas %}
    <div class='row'>
        <div class='col-12'>
            <h4>{{ title }} del grupo: {{ grupo.name }}</h4>
        </div>
    </div>
{% endblock %}
{% block canvas %}
    <div class='row'>
        <div class='col-2'>
        </div>
        <div class='col-8'>
            <table class="table table-bordered">
                <tr>
                    <td style="width: 45%">
                        {% if perms.ctt.puede_modificar_parametros_institucion %}
                            <table class='table table-bordered filterable' >
                                <thead class="">
                                <tr>
                                    <th colspan="20" class="header-nomargin" style="width: 300px">
                                        Reportes Disponibles
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="20" class="header-nomargin" style="width: 300px">
                                        <input type="search" style="text-transform: uppercase; margin-bottom: 0px" class="input-block-level" id="FilterTextBox" name="FilterTextBox">
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align: center; width: 40px">

                                        <input type="checkbox" id="todos">
                                    </th>
                                    <th>Reporte</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for reporte in reportes %}
                                    <tr>
                                        <td style="text-align: center; width: 40px">
                                            <input {% if not perms.ctt.puede_modificar_parametros_institucion %}disabled="disabled"{% endif %} type="checkbox" idp="{{ reporte.id }}" class="sel_per">
                                        </td>
                                        <td>{{ reporte.descripcion }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="20">NO EXISTEN DATOS</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </td>
                            <td style="text-align: center">
                                {% if perms.ctt.puede_modificar_parametros_institucion %}
                                    <a class="btn btn-sm btn-success" id="addreporte" idg="{{ grupo.id }}"><i class="icon-arrow-right"></i></a><br><br>
                                    <a class="btn btn-sm btn-success" id="delreporte"><i class="icon-arrow-left"></i></a>
                                {% endif %}
                            </td>
                        {% endif %}
                    <td style="width: 45%">
                        <table class='table table-bordered  filterable1' >
                            <thead class="">
                            <tr>
                                <th colspan="20" class="header-nomargin" style="width: 300px">
                                    Reportes Asignados
                                </th>
                            </tr>
                            <tr>
                                <th colspan="20" class="header-nomargin" style="width: 300px">
                                    <input type="search" style="text-transform: uppercase; margin-bottom: 0px" class="input-block-level" id="FilterTextBox1" name="FilterTextBox1">
                                </th>
                            </tr>
                            <tr>
                                {% if perms.ctt.puede_modificar_parametros_institucion %}
                                    <th style="text-align: center; width: 40px">
                                        <input type="checkbox" id="todos_grupo">
                                    </th>
                                {% endif %}
                                <th>Permiso</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reporte in reportes_grupo %}
                                <tr>
                                    {% if perms.ctt.puede_modificar_parametros_institucion %}
                                        <td style="text-align: center; width: 40px">
                                            <input type="checkbox" {% if not perms.ctt.puede_modificar_parametros_institucion %}disabled="disabled"{% endif %} idp="{{ reporte.id }}" class="sel_per_grupo">
                                        </td>
                                    {% endif %}
                                    <td>{{ reporte.descripcion }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="20">NO EXISTEN DATOS</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}