{% extends "basebs.html" %}
{% load ctt_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function () {
            $(".seccion").click(function () {
                bloqueointerface();
                var id = $(this).attr('ids');
                location.href = '/adm_institucion?seccion='+id;
            });

            $(".subseccion").click(function () {
                bloqueointerface();
                var id = $(this).attr('ids');
                location.href = '/adm_institucion?subseccion='+id;
            });
        });
    </script>
    {% block jssubseccion %}
    {% endblock %}
{% endblock %}
{% block atras %}/{% endblock %}
{% block headcanvas %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>{{ title }}</h4>
        </div>
    </div>
{% endblock %}
{% block canvas %}
    <div class="row">
        <div class="col-12">
            <div class="tabbable col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item " role="presentation">
                        <a class="nav-link seccion {% if seccion == 0 %}active{% endif %}" ids="0" id="tab0" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab" aria-controls="tab-1" aria-selected="true">Sedes / Coordinaciones</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link seccion {% if seccion == 1 %}active{% endif %}" ids="1" id="tab1" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false">Cargos Institución</a>
                    </li>
                    <li class="nav-item " role="presentation">
                        <a class="nav-link seccion {% if seccion == 2 %}active{% endif %}" ids="2" id="tab2" data-bs-toggle="tab" data-bs-target="#tab-3" type="button" role="tab" aria-controls="tab-3" aria-selected="false">Datos Financieros</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link seccion {% if seccion == 3 %}active{% endif %}" ids="3" id="tab3" data-bs-toggle="tab" data-bs-target="#tab-4" type="button" role="tab" aria-controls="tab-4" aria-selected="false">Biblioteca</a>
                    </li>
                    <li class="nav-item " role="presentation">
                        <a class="nav-link seccion {% if seccion == 4 %}active{% endif %}" ids="4" id="tab4" data-bs-toggle="tab" data-bs-target="#tab-5" type="button" role="tab" aria-controls="tab-5" aria-selected="false">Datos Académicos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link seccion {% if seccion == 5 %}active{% endif %}" ids="5" id="tab5" data-bs-toggle="tab" data-bs-target="#tab-6" type="button" role="tab" aria-controls="tab-6" aria-selected="false">Grupos / Permisos yReportes</a>
                    </li>
                    <li class="nav-item " role="presentation">
                        <a class="nav-link seccion {% if seccion == 6 %}active{% endif %}" ids="6" id="tab6" data-bs-toggle="tab" data-bs-target="#tab-7" type="button" role="tab" aria-controls="tab-7" aria-selected="false">Correo / Aplicación</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12">
            <div class="row mt-2">
                <div class="col-12">
                    {% block contenidoseccion %}
                        {% block contenidosubseccion %}{% endblock %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}