{% extends "adm_pagosnivel/view.html" %}
{% load ctt_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function() {
             $(".seccion").click(function () {
                bloqueointerface();
                var id = $(this).attr('ids');
                location.href = '/adm_pagosnivel?seccion=' + id;
            });

            $(".filterable1 tr:has(td)").each(function(){
                var t = $(this).text().toLowerCase();
                $("<td class='indexColumn'></td>").hide().text(t).appendTo(this);
            });

            $("#FilterTextBox1").keyup(function(){

                var s = $(this).val().toLowerCase().split(" ");
                $(".filterable1 tr:hidden").show();
                $.each(s, function(){
                    $(".filterable1 tr:visible .indexColumn:not(:contains('" + this + "'))").parent().hide();
                });
            });

            {% if perms.ctt.puede_modificar_precioperiodo %}
                $(".precioespecie").blur(function () {
                    numerico($(this), 0, 0, 2);
                    var elemento = $(this);
                    var id = elemento.attr('idp');
                    var va = parseFloat(elemento.attr('va'));
                    var valor = parseFloat(elemento.val());
                    if (valor !== va){
                        bloqueointerface();
                        $.ajax({
                            type: "POST",
                            url: "/adm_pagosnivel",
                            data: {'action': 'act_precio_especie', 'id': id, 'valor': valor, 'csrfmiddlewaretoken': csrftoken },
                            success: function(data) {
                                desbloqueointerface();
                                if (data.result === 'ok') {
                                    elemento.attr({'va': valor});
                                } else {
                                    elemento.val(va);
                                    NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                                }
                            },
                            error: function() {
                                desbloqueointerface();
                                elemento.val(elemento.attr('va'));
                                NotificacionError('!!!', 'Error de conexión');
                            },
                            dataType: "json"
                        });
                    }
                });
            {% endif %}

        });
    </script>
{% endblock %}
{% block contenidotab %}
    <div class="tab-pane fade {% if seccion == 1 %}show active{% endif %}" id="tab-1" role="tabpanel" aria-labelledby="tab1">
        <div class="row mb-2 mt-2">
            <div class='col-6'>
                <a href="javascript:;" nhref="/adm_pagosnivel?action=addespecie" class='formmodal btn btn-sm btn-success'><i class="icon-plus"></i> Adicionar</a>
            </div>
        </div>
        <div class='row'>
            <div class='col-12'>
                <input type="search" style="text-transform: uppercase; margin-bottom: 0px" class="form-control form-control-sm" id="FilterTextBox1" name="FilterTextBox1">
                <table class='table table-bordered table-striped filterable1'>
                    <thead class="table-light">
                    <tr>
                        <th>Tipo de Curso</th>
                        <th style="width:60px; text-align: center">Precio</th>
                        <th style="width:100px; text-align: center">IVA</th>
                        <th style="width:50px; text-align: center">Generadas</th>
                        <th style="width:50px; text-align: center">Activo</th>
                        <th style="width: 120px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tipo in tipoespecievaloradas %}
                        <tr>
                            <td>{{ tipo.nombre }}</td>
                            <td style="text-align: center">
                                <input {% if not perms.ctt.puede_modificar_precioperiodo %}disabled="disabled"{% endif %} type="text" id="precio_especie" va="{{ tipo.precio|floatformat:2 }}" idp="{{ tipo.id }}" class="imp-numbermed-right precioespecie form-control-sm" value="{{ tipo.precio|floatformat:2 }}">
                            </td>
                            <td style="text-align: center"><span class="badge text-bg-warning">{{ tipo.iva }}</span></td>
                            <td style="text-align: center">{{ tipo.total_generadas }}</td>
                            <td style="text-align: center">
                                {% if tipo.activa %}
                                    <span class="badge text-bg-success tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Activa">Si</span>
                                {% else %}
                                    <span class="badge text-bg-danger tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Activa">No</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center">
                                {% if not tipo.activa %}
                                    {% if not tipo.total_generadas %}
                                        <a class="btn btn-ssm btn-success formmodal tu" href="javascript:;" nhref="/adm_pagosnivel?action=editespecie&id={{ tipo.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="icon-edit"></i></a>
                                        <a class="btn btn-ssm btn-danger eliminacionmodal tu" href="javascript:;" nhref="/adm_pagosnivel?action=delespecie&id={{ tipo.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="icon-remove"></i></a>
                                    {% endif %}
                                    <a class="btn btn-ssm btn-success confirmacionmodal tu" href="javascript:;" nhref="/adm_pagosnivel?action=activarespecie&id={{ tipo.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Activar"><i class="icon-unlock"></i></a>
                                {% else %}
                                    <a class="btn btn-ssm btn-danger confirmacionmodal tu" href="javascript:;" nhref="/adm_pagosnivel?action=desactivarespecie&id={{ tipo.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Desactivar"><i class="icon-lock"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}