{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            $("#id_nombre, #id_costo").addClass('validate[required]');

        });
    </script>
{% endblock %}
{% block atras %}/adm_pagosnivel{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_pagosnivel{% endblock %}
{% block formdestination %}/adm_pagosnivel{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addcostoconvenio'/>
{% endblock %}
{% block formback %}/adm_pagosnivel{% endblock %}
