{% extends "basebs.html" %}
{% load ctt_extras %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

            {% if perms.ctt.puede_modificar_precioperiodo %}

                $(".porcentaje_formapago").change(function () {
                    var elemento = $(this);
                    numerico(elemento, 0, 0 ,0);
                    var valor = elemento.val();
                    var precio_periodo = elemento.attr('idp');
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_pagosnivel",
                        data: { 'action': 'act_porcentaje_formapago', 'valor': valor, 'id': precio_periodo, 'csrfmiddlewaretoken': csrftoken },
                        success: function(data) {
                            desbloqueointerface();
                            if (data.result === 'ok'){
                                elemento.attr({'va': valor});
                            } else {
                                NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                                elemento.val(elemento.attr('va'));
                            }
                        },
                        error: function() {
                            desbloqueointerface();
                            NotificacionError('!!!', 'Error de conexión');
                            elemento.val(elemento.attr('va'));
                        },
                        dataType: "json"
                    });
                    return false;
                });
            {% endif %}
        });
    </script>
{% endblock %}
{% block atras %}/adm_pagosnivel{% endblock %}
{% block headcanvas %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>{{ title }}
                <br>Nivel: {{ precio.nombre_corto }}</h4>
        </div>
    </div>
    <div class='row mb-2'>
        <div class='col-6'>
            {% if perms.ctt.puede_modificar_precioperiodo %}
                <a href="javascript:;" nhref="/adm_pagosnivel?action=addformapago&pid={{ precio.id }}" class='formmodal btn btn-sm btn-success'><i class="icon-plus"></i> Adicionar descuento</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block canvas %}
    <div class="row-fluid">
        <div class="col-12">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                <tr>
                    <th>Forma de pago</th>
                    <th style="width:80px; text-align: center">Desde</th>
                    <th style="width:80px; text-align: center">Hasta</th>
                    <th style="width:60px; text-align: center">% Desc.</th>
                    <th style="width:60px; text-align: center"></th>
                </tr>
                </thead>
                <tbody>
                {% for descuento in descuentos %}
                    <tr>
                        <td>{{ descuento.formadepago }}</td>
                        <td>{{ descuento.fechainicio|date:"Y-m-d" }}</td>
                        <td>{{ descuento.fechafin|date:"Y-m-d" }}</td>
                        <td style="text-align: center">
                            <input {% if not perms.ctt.puede_modificar_precioperiodo %}disabled="disabled"{% endif %} {% if tipo.activo %}disabled="disabled"{% endif %} type="text" id="porcentaje_formapago" va="{{ descuento.porcentaje|floatformat:0 }}" idp="{{ descuento.id }}" class="imp-numbermed-right porcentaje_formapago form-control" value="{{ descuento.porcentaje|floatformat:0 }}">
                        </td>
                        <td style="text-align: center">
                            {% if perms.ctt.puede_modificar_precioperiodo %}
                                <a href="javascript:;" nhref="/adm_pagosnivel?action=delformapago&id={{ descuento.id }}" class="btn btn-danger btn-ssm tu eliminacionmodal" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="icon-remove"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="20">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
