{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/finanzas{% endblock %}
{% block formdestination %}/finanzas?action=rubros&id={{ rubro.inscripcion.id }}{% endblock %}
{% block formactionvalue %}generarrubrosposgrado{% endblock %}
{% block formobjectid %}{{ rubro.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea generar el valor completo de la maestría <br>para este estudiante: {{ rubro.inscripcion.persona }}{% endblock %}