{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_mallas?action=syllabus&id={{ asignaturamalla.id }}{% endblock %}
{% block formaction %}/adm_mallas{% endblock %}
{% block formactionvalue %}aprobarsyllabus{% endblock %}
{% block formobjectid %}{{ silabo.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea habilitar la plantilla del silabo de la materia:{% endblock %}
{% block formobjectrepr %}{{ asignaturamalla }}{% endblock %}