{% extends "ajaxdeletedinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}adm_mallas?action=competenciasg&id={{ malla.id }}{% endblock %}
{% block formaction %}/adm_mallas{% endblock %}
{% block formactionvalue %}delcompeg{% endblock %}
{% block formobjectid %}{{ competemcia.id }}{% endblock %}
{% block formobjectname %}la competencia generica{% endblock %}
{% block formobjectrepr %}{{ competemcia }}{% endblock %}
{% block fieldsextra %}
    <input type="hidden" name="idm" value="{{ malla.id }}">
{% endblock %}
