{% extends "ajaxdeletedinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}adm_mallas?action=predecesora&id={{ predecesoramodulo.asignaturamalla.id }}{% endblock %}
{% block formaction %}/adm_mallas{% endblock %}
{% block formactionvalue %}delpredecesoraasiganturamodulo{% endblock %}
{% block formobjectid %}{{ predecesoramodulo.id }}{% endblock %}
{% block formobjectname %}la precedencia{% endblock %}
{% block formobjectrepr %}{{ predecesoramodulo }}{% endblock %}
