{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function() {
            // Add classes
            $("#id_campoformacion, #id_areaconocimiento, #id_tipomateria, #id_ejeformativo, #id_nivelmalla, #id_asignatura, #id_horas, #id_creditos, #id_identificacion").addClass("validate[required]");
            
            {#$('#id_lms, #id_plantillalms').removeAttr('disabled');#}
            

            const practicas = function() {
                const codigopracticas = $("#id_codigopracticas");
                const fieldsetCodigopracticas = $("#fieldset_codigopracticas");

                if ($("#id_practicas").is(':checked')) {
                    codigopracticas.addClass("validate[required]");
                    fieldsetCodigopracticas.show();
                } else {
                    codigopracticas.val('').removeClass("validate[required]");
                    fieldsetCodigopracticas.hide();
                }
            };

            $("#id_practicas").click(practicas);

            const fieldsToBlur = $("#id_horassemanales, #id_horas, #id_organizacionaprendizaje, #id_horasasistidas, #id_horasdocencia, #id_horascolaborativas, #id_horasorganizacionaprendizaje, #id_horasautonomas, #id_horascolaborativas, #id_horaspracticas");
            fieldsToBlur.blur(function() {
                numerico($(this), 0, 0, 2);
            });

            $("#id_creditos").blur(function() {
                numerico($(this), 0, 20, 4);
            });

            $("#id_cantidadmatriculas").blur(function() {
                numerico($(this), 1, 0, 0);
            });

            const modelomalla = function(mm) {
                // Create variables for DOM elements to avoid repetitive lookups
                const campoformacion = $("#fieldset_campoformacion");
                const horascolaborativas = $("#fieldset_horascolaborativas");
                const organizacionaprendizaje = $("#fieldset_organizacionaprendizaje");
                const horasorganizacionaprendizaje = $("#fieldset_horasorganizacionaprendizaje");
                const horasdocencia = $("#fieldset_horasdocencia");
                const horasautonomas = $("#fieldset_horasautonomas");
                const horaspracticas = $("#fieldset_horaspracticas");
                const horasasistidas = $("#fieldset_horasasistidas");
                const totalhorasaprendizajecontactodocente = $("#fieldset_totalhorasaprendizajecontactodocente");
                const totalhorasaprendizajeautonomo = $("#fieldset_totalhorasaprendizajeautonomo");
                const totalhorasaprendizajepracticoexperimental = $("#fieldset_totalhorasaprendizajepracticoexperimental");

                switch (mm) {
                    case "1":
                        // Validate
                        $("#id_campoformacion").addClass("validate[required]");
                        // Hide
                        totalhorasaprendizajecontactodocente.hide();
                        totalhorasaprendizajeautonomo.hide();
                        totalhorasaprendizajepracticoexperimental.hide();
                        // Show
                        campoformacion.show();
                        horascolaborativas.show();
                        organizacionaprendizaje.show();
                        horasorganizacionaprendizaje.show();
                        horasdocencia.show();
                        horasautonomas.show();
                        horaspracticas.show();
                        horasasistidas.show();
                        break;
                    case "2":
                        // Remove validation
                        $("#id_campoformacion").removeClass("validate[required]");
                        // Hide
                        campoformacion.hide();
                        horascolaborativas.hide();
                        organizacionaprendizaje.hide();
                        horasorganizacionaprendizaje.hide();
                        horasasistidas.hide();
                        horasdocencia.hide();
                        horasautonomas.hide();
                        horaspracticas.hide();
                        // Show
                        totalhorasaprendizajecontactodocente.show();
                        totalhorasaprendizajepracticoexperimental.show();
                        totalhorasaprendizajeautonomo.show();
                        break;
                    default:
                        // Hide
                        totalhorasaprendizajecontactodocente.hide();
                        totalhorasaprendizajeautonomo.hide();
                        totalhorasaprendizajepracticoexperimental.hide();
                        // Show
                        campoformacion.show();
                        horascolaborativas.show();
                        organizacionaprendizaje.show();
                        horasorganizacionaprendizaje.show();
                        horasdocencia.show();
                        horasautonomas.show();
                        horaspracticas.show();
                        horasasistidas.show();
                }
            };

            $('#id_modelonuevo').change(function() {
                modelomalla($(this).val());
            });

            practicas();

            // Initial modelomalla setup
            modelomalla($('#id_modelonuevo').val());
            
            $('#id_lms').change(function(){
                $('#id_plantillalms').children().remove().end().append('<option selected="selected" value="">---------</option>');
                var id = parseInt($('#id_lms').val());
                if (id > 0){
                    bloqueointerface();
                    $.ajax({
                        type: "POST",
                        url: "/adm_mallas",
                        data: {'action': 'plantillalms', 'id': id, 'csrfmiddlewaretoken': csrftoken},
                        success: function(data) {
                            desbloqueointerface();
                            if (data.result === 'ok') {
                                for (i in data.lista){
                                    elemento = data.lista[i];
                                    $('#id_plantillalms').append('<option value="'+elemento.id+'">'+elemento.nombre+'</option>');
                                }
                            } else {
                                $('#id_lms').val(0);
                                NotificacionAlerta(data.icono, data.titulo, data.mensaje);
                            }
                        },
                        error: function() {
                            desbloqueointerface();
                            $('#id_lms').val(0);
                            NotificacionError('!!!', 'Error de conexión');
                        },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
{% endblock %}
{% block atras %}/adm_mallas?action=edit&id={{ asignaturamalla.malla.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/adm_mallas{% endblock %}
{% block formdestination %}/adm_mallas?action=edit&id={{ asignaturamalla.malla.id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='editasign'/>
    <input type='hidden' name='id' value='{{ asignaturamalla.id }}'/>
{% endblock %}
{% block formback %}/adm_mallas?action=edit&id={{ asignaturamalla.malla.id }}{% endblock %}
