{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block atras %}/adm_mallas{% endblock %}
{% block headcanvas %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>{{ title }}
            <br>Malla: {{ malla }}</h4>
        </div>
    </div>
{#    {% if perms.ctt.puede_modificar_mallas and permite_modificar %}#}
        <div class='row mb-2'>
            <div class='col-6'>
                <a class="btn btn-sm btn-success formmodal" href="javascript:;" nhref="/adm_mallas?action=addmodulo&id={{ malla.id }}"><i class="icon-plus tu"></i> Adicionar</a>
            </div>
        </div>
{#    {% endif %}#}
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='col-12 responsive'>
            <table class='table table-bordered table-striped'>
                <thead class="table-light">
                <tr>
                    <th>M&oacute;dulo</th>
                    <th style="width: 200px">Tipo Materia</th>
                    <th style="width: 80px; text-align: center">Horas</th>
                    <th style="width: 80px; text-align: center;">Cr&eacute;ditos</th>
                    <th style="width: 60px; text-align: center;">Sin Asistencia</th>
                    <th style="width: 60px; text-align: center;">Valida Cr&eacute;ditos</th>
                    <th style="width: 60px; text-align: center;">Valida Promedio</th>
                    <th style="width: 60px; text-align: center;">Matrícula</th>
                    <th style="width: 60px; text-align: center;">Cantidad Matrículas</th>
                    <th style="width: 100px; text-align: center;"></th>
                    <th style="width: 100px; text-align: center;"></th>
                    <th style="width: 100px"></th>
                </tr>
                </thead>
                <tbody>
                {% for modulo in modulos %}
                    <tr>
                        <td>{{ modulo.asignatura }}</td>
                        <td>{{ modulo.tipomateria}}</td>
                        <td style="text-align: center">{{ modulo.horas|floatformat:1 }}</td>
                        <td style="text-align: center;">{{ modulo.creditos|floatformat:4 }}</td>
                        <td style="text-align: center;">
                            {% if modulo.sinasistencia %}
                                <span class="badge text-bg-success tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Sin Asistencia">Si</span>
                            {% else %}
                                <span class="badge text-bg-danger tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Sin Asistencia">No</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if modulo.validacreditos %}
                                <span class="badge text-bg-success tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Valida Cr&eacute;ditos">Si</span>
                            {% else %}
                                <span class="badge text-bg-danger tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Valida Cr&eacute;ditos">No</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if modulo.validapromedio %}
                                <span class="badge text-bg-success tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Valida Promedio">Si</span>
                            {% else %}
                                <span class="badge text-bg-danger tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Valida Promedio">No</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if modulo.matriculacion %}
                                <span class="badge text-bg-success tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Matriculación">Si</span>
                            {% else %}
                                <span class="badge text-bg-danger tu" data-bs-toggle="tooltip" data-bs-placement="top" title="Matriculación">No</span>
                            {% endif %}
                        </td>
                        <td style="text-align: center">{{ modulo.cantidadmatriculas }}</td>
                        <td style="text-align: center">
                            {% if perms.ctt.puede_modificar_mallas %}
                                <a href="/adm_mallas?action=predecesoramodulo&id={{ modulo.id }}" class="btn btn-ssm btn-outline-secondary"><i class="icon-list"></i> {{ modulo.cantidad_predecesoras }} Precedec.</a>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
                            {% if malla.modelosibalo %}
                                <a href="/adm_mallas?action=syllabusmodulo&id={{ modulo.id }}" class='btn btn-ssm {% if modulo.tiene_syllabus_aprobados %} btn-success{% else %}btn-danger{% endif %} {% if modulo.tiene_syllabus_pendiente %}blinkimg{% endif %}'><i class='icon-list'></i> {{ modulo.cantidad_syllabus_aprobados }} Sílabo</a>
                            {% endif %}
                        </td>
                        <td style="text-align: center">
{#                            {% if perms.ctt.puede_modificar_mallas %}#}
{#                                {% if permite_modificar %}#}
                                    <a class="btn btn-info btn-ssm tu formmodal" href="javascript:;" nhref="/adm_mallas?action=editmodulo&id={{ modulo.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="icon-edit"></i></a>
                                    <a class="btn btn-danger btn-ssm tu eliminacionmodal" href="javascript:;" nhref="/adm_mallas?action=delmodulo&id={{ modulo.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="icon-remove"></i></a>
{#                                {% endif %}#}
{#                            {% endif %}#}
                            <a class="btn btn-warning btn-ssm tu formmodal" href="javascript:;" nhref="/adm_mallas?action=editmodulootros&id={{ modulo.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar otros datos"><i class="icon-edit"></i></a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="20">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}