{% extends "basebs.html" %}
{% block heading %}
    <script type="text/javascript">
        $(function() {

        });
    </script>
{% endblock %}
{% block atras %}adm_mallas?action=modulos&id={{ modulomalla.malla.id }}{% endblock %}
{% block headcanvas %}
    <div class="row mb-2">
        <div class="col-12">
            <h4>{{ title }}
            <br>Asignatura: {{ modulomalla }}</h4>
        </div>
    </div>
    {% if perms.ctt.puede_modificar_mallas and permite_modificar%}
        <div class='row mb-2'>
            <div class='col-6'>
                <a href="javascript:;" nhref="/adm_mallas?action=addpredecesoramodulo&id={{ modulomalla.id }}" class='btn btn-sm btn-success formmodal'><i class="icon-plus"></i> Adicionar</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block canvas %}
    <div class='row-fluid'>
        <div class='col-12 responsive'>
            <table class='table table-bordered table-hover'>
                <thead class="table-light">
                <tr>
                    <th>Asignaturas</th>
                    <th style="width: 60px;"></th>
                </tr>
                </thead>
                <tbody>
                {% for predecesora in predecesoras %}
                    <tr>
                        <td>{{ predecesora.predecesora.asignatura }}</td>
                        <td style="text-align: center">
                            {% if perms.ctt.puede_modificar_mallas and permite_modificar %}
                                <a href="javascript:;" nhref='/adm_mallas?action=delpredecesoramodulo&id={{ predecesora.id }}' class="btn btn-ssm btn-danger btn-form tu eliminacionmodal" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="icon-remove"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="20">NO EXISTEN DATOS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
