{% extends "formbs.html" %}
{% block extrajavascript %}
{% endblock %}
{% block atras %}/gestion_servicios?action=competenciase&id={{ malla.id }}{% endblock %}
{% block formdestination %}/gestion_servicios?action=detalle_proforma&id={{ proforma.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/gestion_servicios{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='agregar_detalle'/>
    <input type='hidden' name='id' value='{{ proforma.id }}'/>
{% endblock %}
{% block formback %}/gestion_servicios?action=competenciase&id={{ requerimiento.id }}{% endblock %}