{% extends "formbs.html" %}
{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            var $servicio = $("#id_servicio");
            var $cantidad = $("#id_cantidad");
            var $precio = $("#id_precio_unitario");
            var $total = $("#id_total");

            var llenarHora = function(selector) {
                var selectHora = document.querySelector(selector);
                if (!selectHora) {
                    return;
                }

                selectHora.innerHTML = '';

                var optionVacia = document.createElement('option');
                optionVacia.value = '';
                optionVacia.textContent = '---------';
                selectHora.appendChild(optionVacia);

                for (var hora = 7; hora <= 21; hora++) {
                    var option = document.createElement('option');
                    var horaFormato12 = hora <= 12 ? hora : hora - 12;
                    var amPm = hora < 12 ? 'AM' : 'PM';
                    var valor = hora.toString().padStart(2, '0') + ':00';

                    option.value = valor;
                    option.textContent = horaFormato12 + ':00 ' + amPm;
                    selectHora.appendChild(option);
                }
            };

            var parseDecimal = function(value) {
                value = (value || "").toString().replace(",", ".");
                var number = parseFloat(value);
                return isNaN(number) ? 0 : number;
            };

            var formatDecimal = function(value) {
                return parseDecimal(value).toFixed(2);
            };

            var calcularTotal = function() {
                var cantidad = parseDecimal($cantidad.val());
                var precio = parseDecimal($precio.val());
                $total.val(formatDecimal(cantidad * precio));
            };

            var cargarPrecioServicio = function() {
                var precioBase = $servicio.find("option:selected").attr("data-precio-base");
                if (precioBase) {
                    $precio.val(formatDecimal(precioBase));
                } else {
                    $precio.val("");
                }
                calcularTotal();
            };

            llenarHora('#id_horainicio');
            llenarHora('#id_horafin');

            $servicio.change(function() {
                cargarPrecioServicio();
            });

            $cantidad.add($precio).on("keyup change", function() {
                calcularTotal();
            });

            if ($servicio.val()) {
                cargarPrecioServicio();
            } else {
                calcularTotal();
            }
        });
    </script>
{% endblock %}
{% block atras %}/gestion_servicios?action=competenciase&id={{ malla.id }}{% endblock %}
{% block formdestination %}/gestion_servicios?action=detalle_proforma&id={{ proforma.id }}{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/gestion_servicios{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='agregar_detalle'/>
    <input type='hidden' name='id' value='{{ proforma.id }}'/>
    <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Hora</th>
                    {% for dia in dias %}
                        <th style="width: 14%">{{ dia|date:"D d/m" }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for hora in horas %}
                    <tr>
                        <td>{{ hora|time:"H:i" }}</td>
                        {% for dia in dias %}
                            <td class="text-center">
                                {% for df in detallesproforma %}
                                    {% if df.fecha == dia and hora >= df.hora_inicio and hora < df.hora_fin %}
                                        <strong class="text-danger">Reservado</strong><br>
                                        {{ reserva.estudiante }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}
{% block formback %}/gestion_servicios?action=competenciase&id={{ requerimiento.id }}{% endblock %}
