{% extends "formbs.html" %}

{% block extrajavascript %}
    <script type="text/javascript">
    </script>
{% endblock %}

{% block titulo %}{{ title }}{% endblock %}

{% block formaction %}/adm_emisioncertificados{% endblock %}

{% block formdestination %}/adm_emisioncertificados{% endblock %}

{% block formextra %}
    <input type="hidden" name="action" value="configuracionCertificado"/>
    <input type="hidden" name="id" value="{{ programa.id }}"/>
{% endblock %}

{% block formback %}/adm_emisioncertificados{% endblock %}