{% extends "ajaxconfirmaciondinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/alu_materias{% endblock %}
{% block formdestination %}/alu_materias?matriculaid={{ materia.matricula.id }}{% endblock %}
{% block formactionvalue %}solicitar{% endblock %}
{% block formobjectid %}{{ materia.id }}{% endblock %}
{% block mensaje %}Esta seguro(a) que desea solicitar un certificado de aprobacion del modulo:{% endblock %}
{% block formobjectrepr %}{{ materia }}{% endblock %}