{% extends "formbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/inscripciones{% endblock %}
{% block formdestination %}/inscripciones?action=historico&id={{ request.GET.idi }}&rec={{ request.GET.idr }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='{{ request.GET.action|default:"" }}'/>
    {% for k, v in request.GET.items %}
        {% if k != 'action' %}
            <input type="hidden" name="{{ k }}" value="{{ v }}"/>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block formback %}/inscripciones?action=historico&id={{ request.GET.idi }}&rec={{ request.GET.idr }}{% endblock %}
