{% extends "ajaxdeletedinamicbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formdestination %}/adm_notacredito{% endblock %}
{% block formaction %}/adm_notacredito{% endblock %}
{% block formactionvalue %}{{ request.GET.action|default:"delete" }}{% endblock %}
{% block formobjectid %}{{ request.GET.id|default:request.GET.idi|default:request.GET.pk|default:"0" }}{% endblock %}
{% block formobjectname %}el registro{% endblock %}
{% block formobjectrepr %}{{ request.GET.id|default:request.GET.idi|default:"" }}{% endblock %}
{% block fieldsextra %}
    {% for k, v in request.GET.items %}
        {% if k != 'action' and k != 'id' %}
            <input type="hidden" name="{{ k }}" value="{{ v }}"/>
        {% endif %}
    {% endfor %}
{% endblock %}
