{% extends "formbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/docentes{% endblock %}
{% block formdestination %}/docentes?action=titulacion&id={{ profesor.id }}{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='addcurso'/>
    <input type='hidden' name='id' value="{{ profesor.id }}"/>
{% endblock %}
{% block formback %}/docentes?action=titulacion&id={{ profesor.id }}{% endblock %}
{% block extrajavascript %}
    <script type="text/javascript">
        $(function () {
            var actualizarInstitucionCurso = function () {
                var esInstitucion = $("#id_esinstitucion").is(":checked");
                $("#fieldset_institucion").toggle(esInstitucion);
                $("#fieldset_institucionformacion").toggle(!esInstitucion);
                $("#fieldset_apolloinstitucion").toggle(esInstitucion);
                if (esInstitucion) {
                    $("#id_institucionformacion").val("");
                } else {
                    $("#id_institucion").val("");
                    $("#id_apolloinstitucion").prop("checked", false);
                }
            };
            $("#id_esinstitucion").on("change", actualizarInstitucionCurso);
            actualizarInstitucionCurso();
        });
    </script>
{% endblock %}
