{% extends "formbs.html" %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/docentes{% endblock %}
{% block formdestination %}/docentes{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='{{ request.GET.action|default:"" }}'/>
    {% for k, v in request.GET.items %}
        {% if k != 'action' %}
            <input type="hidden" name="{{ k }}" value="{{ v }}"/>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block formback %}/docentes{% endblock %}
