{% extends "emails/emailbase.html" %}
{% block contenido %}
    <p><b>Autorizaci&oacute;n de registro a bolsa laboral.</b></p>
    <p>Se procedi&oacute; a confirmar la informaci&oacute;n de registro de su empresa al modulo de bolsa laboral, ya puede registrar sus ofertas laborales.</p>
    <p>Le recordamos que para acceder a su cuenta debe ingresar a trav&eacute;s de la siguiente direccion: <a href="{{ t.domainapp }}/bolsalaboral" target="_blank">{{ t.domainapp }}/bolsalaboral</a></p>
{% endblock %}