{% extends "emails/emailbase.html" %}
{% block contenido %}
    <p><b>Validación Beca Emergente COVID 19</b></p>
    <p>Estimado/a estudiante: </p>
    <p>Le recordamos que esta postulación es exclusivamente para quienes han sufrido afectación con motivo de la emergencia sanitaria por el COVID 19.</p>
    <p>Para aplicar, debe estar matriculado y no gozar de otra beca o ayuda económica que brinda la Institución.</p>
    <br>
    <p>Si cumple con estas condiciones, puede realizar la postulación, a partir de esta fecha, acompañada de los correspondientes documentos que prueben la afectación. </p>
    <h5>Por favor revisa el documento antes de continuar con la aplicación:</h5>
    <a href="https://ctt.uti.edu.ec/media/RegimenEspecial.pdf" target="_blank">REGIMEN ESPECIAL DE AYUDA ECONÓMICA POR COVID 19</a>
{% endblock %}