{% extends "formbs.html" %}
{% block extrajavascript %}
    <script type = "text/javascript">
        var reloadinterface = true;
        $(function (){
            $("#id_perfil").addClass("validate[required]");
        });
    </script>
{% endblock %}
{% block titulo %}{{ title }}{% endblock %}
{% block formaction %}/cudu{% endblock %}
{% block formdestination %}/{% endblock %}
{% block formextra %}
    <input type='hidden' name='action' value='changeperfil'/>
{% endblock %}
{% block formback %}/{% endblock %}
{% block buttonname %}Seleccionar{% endblock %}